<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<div>
    <h2>Access Form</h2>
    <div>
        <h1>登录验证</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <div>
                <input type="submit" value="登录" >
            </div>
        </form>
    </div>
</div>
</body>
</html>